body{
    margin:0px;
    background-color: rgb(77, 76, 75);
}
#header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#baner,#nav{
    width:50%;
}
#baner{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    justify-content: center;
}
#nav{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
}
#l{
    margin: 5px;
}
#box{
    background-color: orangered;
    width:100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#slide{
    width: 100%;
    height: 300px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    justify-content: center;
}
#buying{
    width: 100%;
    height: 300px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    justify-content: center;
}
#napis{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    justify-content: center;
}
#buy{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#zam{
    width: 50%;
    text-align: center;
}
#b{
    margin:1px;
    width: 33%;
    height: 336,3px; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#p{
    background-color: orangered;
}
#z{
    background-color: orangered;
    width: 500px;
    height: 300px;
}
#z img{
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#kontakt{
    width: 50%;
    text-align: center;
}
#map{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#footer{
    width:100%;
    height: 50px;
}
.cont .button {
    display: inline-flex;
    height: 60px;
    width: 60px;
    float:left;
    margin: 0 5px;
    overflow: hidden;
    background-color: orangered;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.cont{
    position:absolute;
    left:40%;
}
.cont .button:hover{
    width: 280px;
    text-align: center;
}
.cont .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    margin-left: 10px;
    align-items: center;
}
.cont .button .icon i{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.cont .button span{
    font-size: 20px;
    font-weight: 20;
    line-height: 60px;
    margin-left: 14px;
}

/*slide*/
.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 900px;
    margin:  auto;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.slider{
    width: 900px;
    height: 300px;
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%,0.25);
    border-radius: 0.5rem;
}

.slider img{
    width: 900px;
    height: 300px;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    animation: slide 20s infinite;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#fff;
    opacity:0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}
#buy img{
    width: 400px;
    height: 276px;
}